@model Restaurantee.Models.pedido

@{
    ViewData["Title"] = "Create";
}

<div class="span9">
    <div class="content">
        <h2>Create</h2>

        <h4>pedido</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="persona" class="control-label"></label>
                        <input asp-for="persona" class="form-control" />
                        <span asp-validation-for="persona" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fechaPedido" class="control-label"></label>
                        <input asp-for="fechaPedido" class="form-control" />
                        <span asp-validation-for="fechaPedido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="subTotal" class="control-label"></label>
                        <input asp-for="subTotal" class="form-control" />
                        <span asp-validation-for="subTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="impuesto" class="control-label"></label>
                        <input asp-for="impuesto" class="form-control" />
                        <span asp-validation-for="impuesto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="total" class="control-label"></label>
                        <input asp-for="total" class="form-control" />
                        <span asp-validation-for="total" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="observaciones" class="control-label"></label>
                        <input asp-for="observaciones" class="form-control" />
                        <span asp-validation-for="observaciones" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idMesa" class="control-label"></label>
                        <select asp-for="idMesa" class="form-control" asp-items="ViewBag.idMesa"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

